langchain
langchain-community
langchain_experimental
streamlit
pdfplumber
semantic-chunkers
open-text-embeddings
ollama
prompt-template
sentence-transformers
faiss-cpu

streamlit
langchain_core
langchain_community
langchain_ollama
pdfplumber
rank_bm25
nltk